body{
    font-family: 'Lobster', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.Shorna{
    color: rgb(255, 0, 43);

}
.ria{
    color: rgb(206, 157, 216)
}
.diha{
    color:cyan;
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 40%;
    

}
.full img{
  width: 80%;
}
.link-button{
    color: midnightblue;
    text-decoration: none;
    background-color:blue;
    padding:10px 10px;
    border-radius: 10%;
    font-weight: 70px;
    background-color: violet;
    font-weight: 700;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

    .Fiha{
      background-image:url(images/exp-bg.png);
      background-repeat: no-repeat;
      background-position: left;

    }
.Developer{
    box-shadow: 10px 10px 40px rgb(205, 228, 159);
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
     border-left: tomato;
 
   
    border-radius: 10px;

}
#web-dev{
    border-image: linear-gradient(blue,cyan);
    border-left: 7px solid;
    border-image-slice: 1;

}
#full-stack{

    border-image: linear-gradient(rgb(90, 151, 179),cyan);
    border-left: 7px solid;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
