body{
    font-family: 'Lobster', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.Shorna{
    color: rgb(255, 0, 43);

}
.ria{
    color: rgb(206, 157, 216)
}
.diha{
    color:cyan;
}
section{
    display:flex;
    margin-bottom: 150px;
}
.half{
    width:50%;
    padding-left: 30px;
}
.full img{
  width: 80%;
}
.link-button{
    color: midnightblue;
    text-decoration: none;
    background-color:blue;
    padding:10px 10px;
    border-radius: 10%;
    font-weight: 70px;
    background-color: violet;
    font-weight: 700;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}